pkgbase = libgroove
	pkgdesc = Audio dispatching library. Generic sink-based interface. Provides decoding, encoding, resampling, and gain adjustment.
	pkgver = 4.0.3
	pkgrel = 1
	url = https://github.com/andrewrk/libgroove
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = yasm
	depends = sdl2
	depends = lame
	depends = bzip2
	depends = ffmpeg
	depends = chromaprint
	conflicts = libgroove-git
	options = strip
	options = ccache
	source = https://github.com/andrewrk/libgroove/archive/4.0.3.tar.gz
	sha256sums = d4ce15b4cb9f7090f0fb7bd06d8d1ea09474113c8cfc6e91317a861a5ebfd684

pkgname = libgroove

