pkgbase = libgroove
	pkgdesc = Audio dispatching library. Generic sink-based interface. Provides decoding, encoding, resampling, and gain adjustment.
	pkgver = 4.1.1
	pkgrel = 2
	url = https://github.com/andrewrk/libgroove
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = yasm
	depends = sdl2
	depends = bzip2
	depends = libav
	depends = chromaprint-libav
	depends = libebur128
	conflicts = libgroove-git
	options = strip
	options = ccache
	source = https://github.com/andrewrk/libgroove/archive/4.1.1.tar.gz
	sha256sums = a852936e5da65e1729bc85b20e2a6ace71c3813abd77dac44759b3db8659bea6

pkgname = libgroove

